.full-body{
    width: 100%;
}


.header{
    height: auto;
    width: 100%;
    background-color: rgb(109, 235, 231);
    padding: 20px;

}

.form-div{
    width: 100% ;
    border: none;
    display: flex;
    justify-content: center;


}
.form-group{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: auto;
    justify-content: center;
    
}

.button{
    margin-left: 10px;
    color: rgb(33, 105, 215);
    border-radius: 5px;
    padding: auto;
    width: 20%;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.card.blurred {
    filter: blur(1.8px);
}